{% load poll_tags %}
<body>
    <h1>Assign view result permission to select users</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for user in users %}
            <li>
                <label>
                    {% has_permission user "polls.can_view_results" as has_per %}
                    <input type="checkbox" name="users" value="{{ user.id }}" {% if has_perm %} checked {% endif %}>{{ user.username }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
        {% show_enrollments %}
    </form>
</body>
